# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data.

OUTLINE:
1. Define a research question
2. Think about what data are available
3. Think about possible measurement errors
4. Think about the interpretation of your results
5. Inform your results by linking datasets

# 1. Define a reserach question

Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available

Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [6]:
#all necessary packages
from __future__ import print_function,division
import re
import os
import sys
import numpy as np
import pandas as pd
import geopandas as gp
import pylab as pl
import json
import urllib2
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats
from statsmodels import tsa

s = json.load( open(os.getenv('PUIDATA')+'/fbb_matplotlibrc.json') )
pl.rcParams.update(s)
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/matplotlib/__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/matplotlib/__init__.py:878: UserWarning: svg.embed_char_paths is deprecated and replaced with svg.fonttype; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [47]:
#load the data
#url:https://data.cityofnewyork.us/resource/erm2-nwe9.csv
#df=pd.read_csv("https://data.cityofnewyork.us/resource/erm2-nwe9.csv")
url = '/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9'
df = pd.read_csv(url)

In [3]:
#save the data as csv file
df.to_csv("erm2-nwe9", sep='\t', encoding='utf-8')

# 3. Think about possible measurement errors

In [4]:
# Check if all Boroughs and Community Districts are represented in the Data 
df.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [5]:
df['Borough'].unique()

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [6]:
# How many unique values do we have? 
print(len(df['Community Board'].unique()))

77

There are 77 community boards but we should only have 59.

In [12]:
print(df['Community Board'].unique())

['13 BROOKLYN' '0 Unspecified' '18 BROOKLYN' '12 BROOKLYN'
 '02 STATEN ISLAND' '08 MANHATTAN' '06 BROOKLYN' '10 BRONX' '06 MANHATTAN'
 '04 BROOKLYN' '04 QUEENS' '09 MANHATTAN' '14 BROOKLYN' '05 MANHATTAN'
 '02 MANHATTAN' '10 QUEENS' '07 QUEENS' '02 QUEENS' '11 BROOKLYN'
 '05 QUEENS' '05 BROOKLYN' '09 QUEENS' '12 MANHATTAN' '01 BROOKLYN'
 '11 MANHATTAN' '03 BRONX' '03 STATEN ISLAND' '08 BROOKLYN' '03 BROOKLYN'
 '07 MANHATTAN' '10 MANHATTAN' '04 BRONX' '01 MANHATTAN' '07 BRONX'
 '09 BRONX' '03 MANHATTAN' '13 QUEENS' '02 BRONX' '12 QUEENS' '16 BROOKLYN'
 '08 QUEENS' '04 MANHATTAN' '14 QUEENS' '10 BROOKLYN' '11 QUEENS'
 '06 BRONX' '08 BRONX' '05 BRONX' '15 BROOKLYN' '02 BROOKLYN' '12 BRONX'
 '03 QUEENS' '06 QUEENS' '01 STATEN ISLAND' '01 BRONX' '01 QUEENS'
 '17 BROOKLYN' '11 BRONX' 'Unspecified QUEENS' '09 BROOKLYN'
 'Unspecified MANHATTAN' 'Unspecified BROOKLYN' '07 BROOKLYN'
 'Unspecified BRONX' '64 MANHATTAN' '81 QUEENS' '55 BROOKLYN' '83 QUEENS'
 'Unspecified STATEN ISLAND' '28 BRONX' '80 QUEENS' '26 BRONX'
 '95 STATEN ISLAND' '82 QUEENS' '27 BRONX' '56 BROOKLYN' '84 QUEENS']

In [7]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.
print(df['Community Board'].unique())
print(len(re.findall('Unspecified',str(df['Community Board'].unique()))))

['13 BROOKLYN' '0 Unspecified' '18 BROOKLYN' '12 BROOKLYN'
 '02 STATEN ISLAND' '08 MANHATTAN' '06 BROOKLYN' '10 BRONX' '06 MANHATTAN'
 '04 BROOKLYN' '04 QUEENS' '09 MANHATTAN' '14 BROOKLYN' '05 MANHATTAN'
 '02 MANHATTAN' '10 QUEENS' '07 QUEENS' '02 QUEENS' '11 BROOKLYN'
 '05 QUEENS' '05 BROOKLYN' '09 QUEENS' '12 MANHATTAN' '01 BROOKLYN'
 '11 MANHATTAN' '03 BRONX' '03 STATEN ISLAND' '08 BROOKLYN' '03 BROOKLYN'
 '07 MANHATTAN' '10 MANHATTAN' '04 BRONX' '01 MANHATTAN' '07 BRONX'
 '09 BRONX' '03 MANHATTAN' '13 QUEENS' '02 BRONX' '12 QUEENS' '16 BROOKLYN'
 '08 QUEENS' '04 MANHATTAN' '14 QUEENS' '10 BROOKLYN' '11 QUEENS'
 '06 BRONX' '08 BRONX' '05 BRONX' '15 BROOKLYN' '02 BROOKLYN' '12 BRONX'
 '03 QUEENS' '06 QUEENS' '01 STATEN ISLAND' '01 BRONX' '01 QUEENS'
 '17 BROOKLYN' '11 BRONX' 'Unspecified QUEENS' '09 BROOKLYN'
 'Unspecified MANHATTAN' 'Unspecified BROOKLYN' '07 BROOKLYN'
 'Unspecified BRONX' '64 MANHATTAN' '81 QUEENS' '55 BROOKLYN' '83 QUEENS'
 'Unspecified STATEN ISLAND' '28 BRONX' '80 QUEENS' '26 BRONX'
 '95 STATEN ISLAND' '82 QUEENS' '27 BRONX' '56 BROOKLYN' '84 QUEENS']
6

Delete unspecified community board, we still have 71 left.

In [8]:
# Check for duplicates? Are these plausible?
print(len(df))
print(len(pd.DataFrame.drop_duplicates(df)))

10187766
10187766

There is no duplicates in the whole data frame. But there might be records that having the same 'Unique key'.

In [9]:
# What about missing values? Can you detect any patterns? 
df.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197706
Street Name                        2198559
Cross Street 1                     2375943
Cross Street 2                     2425793
Intersection Street 1              8345288
Intersection Street 2              8346302
Address Type                        490299
City                                788712
Landmark                          10180456
Facility Type                      8579485
Status                                   0
Due Date                           7120286
Resolution Description             3786751
Resolution Action Updated Date      250934
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185412
Vehicle Type                      10180264
Taxi Company Borough              10177601
Taxi Pick Up Location             10089207
Bridge Highway Name               10152671
Bridge Highway Direction          10152723
Road Ramp                         10152986
Bridge Highway Segment            10135780
Garage Lot Name                   10183433
Ferry Direction                   10185023
Ferry Terminal Name               10181242
Latitude                            878752
Longitude                           878752
Location                            878752
dtype: int64

Landmark,School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name
,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name  
are almost missing for each records.

### Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type to fill missings in Resolution Descriptor?
It is possible to replace missing values. There is no missings in the complaint type so we could use
it to fill missings in resolution description. In our case we could only keep the complaint type.

In [48]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 
mask = df['Community Board'].str.contains("Unspecified")

In [49]:
mask.sum()

2064632

In [50]:
# Drop the marked districts
df = df[~mask]

In [53]:
dfnew = df

In [54]:
def check(string):
    flag = True
    if 'Unspecified' in string:
        flag = False
    elif int(string[:2]) > 20:
        flag = False
    return flag
Check = np.vectorize(check)

In [55]:
dfnew["Community Board"] = dfnew["Community Board"][Check(dfnew["Community Board"])]

In [57]:
dfnew['Community Board'].unique()

array(['13 BROOKLYN', '18 BROOKLYN', '12 BROOKLYN', '02 STATEN ISLAND',
       '08 MANHATTAN', '06 BROOKLYN', '10 BRONX', '06 MANHATTAN',
       '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN', '14 BROOKLYN',
       '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS', '07 QUEENS',
       '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN', '09 QUEENS',
       '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN', '03 BRONX',
       '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN', '07 MANHATTAN',
       '10 MANHATTAN', '04 BRONX', '01 MANHATTAN', '07 BRONX', '09 BRONX',
       '03 MANHATTAN', '13 QUEENS', '02 BRONX', '12 QUEENS', '16 BROOKLYN',
       '08 QUEENS', '04 MANHATTAN', '14 QUEENS', '10 BROOKLYN',
       '11 QUEENS', '06 BRONX', '08 BRONX', '05 BRONX', '15 BROOKLYN',
       '02 BROOKLYN', '12 BRONX', '03 QUEENS', '06 QUEENS',
       '01 STATEN ISLAND', '01 BRONX', '01 QUEENS', '17 BROOKLYN',
       '11 BRONX', '09 BROOKLYN', '07 BROOKLYN', nan], dtype=object)

In [59]:
mask = dfnew['Community Board'].isnull()

In [62]:
dfnew=dfnew[~mask]

In [63]:
len(dfnew['Community Board'].unique())

59

Now we have 59 community boards.

In [64]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level
reduced_data = dfnew[["Community Board","Complaint Type"]]
rank_complaints = reduced_data.groupby('Community Board').count()
rank_complaints.columns = ['Number of Complaints']
rank_complaints

                  Number of Complaints
Community Board
01 BRONX                         74631
01 BROOKLYN                     185057
01 MANHATTAN                     77974
01 QUEENS                       171484
01 STATEN ISLAND                182713
02 BRONX                         60257
02 BROOKLYN                     121022
02 MANHATTAN                    133860
02 QUEENS                       114333
02 STATEN ISLAND                121132
03 BRONX                         75134
03 BROOKLYN                     197306
03 MANHATTAN                    150296
03 QUEENS                       122009
03 STATEN ISLAND                136487
04 BRONX                        181953
04 BROOKLYN                     139706
04 MANHATTAN                    132660
04 QUEENS                        99316
05 BRONX                        161078
05 BROOKLYN                     189765
05 MANHATTAN                    142028
05 QUEENS                       168570
06 BRONX                         99547
06 BROOKLYN                     114029
06 MANHATTAN                    104249
06 QUEENS                        90938
07 BRONX                        185729
07 BROOKLYN                     107031
07 MANHATTAN                    151419
07 QUEENS                       195961
08 BRONX                         92733
08 BROOKLYN                     141119
08 MANHATTAN                    149076
08 QUEENS                       123131
09 BRONX                        147457
09 BROOKLYN                     135833
09 MANHATTAN                    127565
09 QUEENS                       151242
10 BRONX                         95496
10 BROOKLYN                     111837
10 MANHATTAN                    137344
10 QUEENS                       128116
11 BRONX                        122081
11 BROOKLYN                     139890
11 MANHATTAN                     95413
11 QUEENS                       101908
12 BRONX                        168455
12 BROOKLYN                     150320
12 MANHATTAN                    268053
12 QUEENS                       229383
13 BROOKLYN                      72362
13 QUEENS                       163851
14 BROOKLYN                     187794
14 QUEENS                       103396
15 BROOKLYN                     146129
16 BROOKLYN                      85467
17 BROOKLYN                     191720
18 BROOKLYN                     156100

In [ ]:
# Safe reduced data frame (Community District level)

## 4. Think about the interpretation of your results?

What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [7]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [3]:
#move to PUI data
url = "http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv"
filename = "Final_Demographics.csv"

os.system("curl -O " + url)
print(os.getenv("PUIDATA"))
os.system("mv " + filename + " " + os.getenv("PUIDATA"))

/home/cusp/ss9558/PUIdata

0

In [66]:
# Check variables in file
df_pop.count()

FIPS                                                                                                                                                              59
cd_id                                                                                                                                                             59
Total Population                                                                                                                                                  59
Population Density (per sq. mile)                                                                                                                                 59
% Total Population: Male                                                                                                                                          59
% Total Population: 18 to 24 Years                                                                                                                                59
% Total Population: 25 to 34 Years                                                                                                                                59
% Total Population: 35 to 44 Years                                                                                                                                59
% Population 5 Years And Over: Speak Only English                                                                                                                 55
% Population 5 Years And Over: Spanish or Spanish Creole                                                                                                          55
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"                                                                               55
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"                                                                     55
Population 25 Years and over:                                                                                                                                     59
Population 25 Years and over: Less Than High School                                                                                                               59
Population 25 Years and over: High School Graduate (includes equivalency)                                                                                         59
Population 25 Years and over: Some college                                                                                                                        59
Population 25 Years and over: Bachelor's degree                                                                                                                   59
Population 25 Years and over: Master's degree                                                                                                                     59
Population 25 Years and over: Professional school degree                                                                                                          59
Population 25 Years and over: Doctorate degree                                                                                                                    59
% Population 25 Years and over: Less Than High School                                                                                                             59
% Population 25 Years and over: High School Graduate (includes equivalency)                                                                                       59
% Population 25 Years and over: Some college                                                                                                                      59
% Population 25 Years and over: Bachelor's degree                                                                                                                 59
% Population 25 Years and over: Master's degree                                                                                                                   59
% Population 25 Years and over: Professional school degree                                                                                                        59
% Population 25 Years and over: Doctorate degree                                                                                                                  59
Population 25 Years and over:.1                                                                                                                                   59
Population 25 Years and over: Less Than High School.1                                                                                                             59
Population 25 Years and over: High School Graduate or more (includes equivalency)                                                                                 59
                                                                                                                                                                  ..
% Households: $30,000 to $34,999                                                                                                                                  59
% Households: $35,000 to $39,999                                                                                                                                  59
% Households: $40,000 to $44,999                                                                                                                                  59
% Households: $45,000 to $49,999                                                                                                                                  59
% Households: $50,000 to $59,999                                                                                                                                  59
% Households: $60,000 to $74,999                                                                                                                                  59
% Households: $75,000 to $99,999                                                                                                                                  59
% Households: $100,000 to $124,999                                                                                                                                59
% Households: $125,000 to $149,999                                                                                                                                59
% Households: $150,000 to $199,999                                                                                                                                59
% Households: $200,000 or More                                                                                                                                    59
Median household income (In 2014 Inflation Adjusted Dollars)                                                                                                      59
Per capita income (In 2014 Inflation Adjusted Dollars)                                                                                                            59
Employed Civilian Population 16 Years And Over:.1                                                                                                                 59
Employed Civilian Population 16 Years And Over: Management, professional, and related occupations                                                                 59
Employed Civilian Population 16 Years And Over: Service occupations                                                                                               59
Employed Civilian Population 16 Years And Over: Sales and office occupations                                                                                      59
Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations                                                                        59
Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations                                                            59
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations                                                      59
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations                              59
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations      59
% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations                                                               59
% Employed Civilian Population 16 Years And Over: Service occupations                                                                                             59
% Employed Civilian Population 16 Years And Over: Sales and office occupations                                                                                    59
% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations                                                                      59
% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations                                                          59
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations                                                    59
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations                            59
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations    59
dtype: int64

In [8]:
# How many community districts are in file? 
df_pop["cd_id"].value_counts().sum()

59

In [67]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
df_pop["higher_household"] = df_pop["Households: $125,000 to $149,999"] + \
                             df_pop["Households: $150,000 to $199,999"] + \
                             df_pop["Households: $200,000 or More"]

In [68]:
# Save data frame
df_pop = df_pop[["cd_id","Total Population","higher_household",
                 "Median household income (In 2014 Inflation Adjusted Dollars)"]]

In [69]:
df_pop.head()

,cd_id,Total Population,higher_household,Median household income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,6000,54224
1,BX12,134644,4761,44906
2,BX10,121209,6857,54962
3,BX11,135839,5163,47910
4,BX03,172247,1428,22041

In [70]:
# Infrastructure by Community District
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [9]:
#move to PUI data
url = "http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv"
filename = "ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv"

os.system("curl -O " + url)
print(os.getenv("PUIDATA"))
os.system("mv " + filename + " " + os.getenv("PUIDATA"))

/home/cusp/ss9558/PUIdata

0

In [71]:
# Check variables in file
df_infr.count()

FIPS                                                       59
Geographic Identifier                                      59
Qualifying Name                                            59
Households                                                 59
Households: With An Internet Subscription                  59
Households: Dial-Up Alone                                  59
Households: Dsl                                            59
Households: With Mobile Broadband                          59
Households: Without Mobile Broadband                       59
Households: Cable Modem                                    59
Households: With Mobile Broadband.1                        59
Households: Without Mobile Broadband.1                     59
Households: Fiber-Optic                                    59
Households: With Mobile Broadband.2                        59
Households: Without Mobile Broadband.2                     59
Households: Satellite Internet Service                     59
Households: With Mobile Broadband.3                        59
Households: Without Mobile Broadband.3                     59
Households: Two or More Fixed Broadband Types, or Other    59
Households: With Mobile Broadband.4                        59
Households: Without Mobile Broadband.4                     59
Households: Mobile Broadband Alone or With Dialup          59
Households: Internet Access Without A Subscription         59
Households: No Internet Access                             59
% Households: With An Internet Subscription                59
Households.1                                               59
Households: Has A Computer                                 59
Households: With Dial-Up Internet Subscription Alone       59
Households: With A Broadband Internet Subscription         59
Households: Without An Internet Subscription               59
Households: No Computer                                    59
dtype: int64

In [73]:
# How many community districts are in file? 
df_infr["Qualifying Name"].count()

59

In [74]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
df_infr["household_mobile"] = df_infr["Households: With Mobile Broadband"] + \
                              df_infr["Households: With Mobile Broadband.1"] + \
                              df_infr["Households: With Mobile Broadband.2"] + \
                              df_infr["Households: With Mobile Broadband.3"] + \
                              df_infr["Households: With Mobile Broadband.4"] + \
                              df_infr["Households: Mobile Broadband Alone or With Dialup"]

In [75]:
df_infr["household_notmobile"] = df_infr["Households: Without Mobile Broadband"] + \
                                 df_infr["Households: Without Mobile Broadband.1"] + \
                                 df_infr["Households: Without Mobile Broadband.2"] + \
                                 df_infr["Households: Without Mobile Broadband.3"] + \
                                 df_infr["Households: Without Mobile Broadband.4"] + \
                                 df_infr["Households: Internet Access Without A Subscription"] + \
                                 df_infr["Households: No Internet Access"] + \
                                 df_infr["Households: Dial-Up Alone"]

In [76]:
# Aggregate internet type by high and low connections
df_infr["household_highinternet"] = df_infr["Households: Dsl"] + \
                                    df_infr["Households: Cable Modem"] + \
                                    df_infr["Households: Fiber-Optic"] + \
                                    df_infr["Households: Satellite Internet Service"] + \
                                    df_infr["Households: Two or More Fixed Broadband Types, or Other"]

In [77]:
df_infr["household_lowinternet"] = df_infr["Households: Dial-Up Alone"] + \
                                   df_infr["Households: Mobile Broadband Alone or With Dialup"] + \
                                   df_infr["Households: Internet Access Without A Subscription"]

In [78]:
# Save data frame 
df_infr = df_infr[["Qualifying Name","household_mobile","household_notmobile","household_highinternet","household_lowinternet"]]

In [79]:
df_infr.head()

,Qualifying Name,household_mobile,household_notmobile,household_highinternet,household_lowinternet
0,"NYC-Bronx Community District 8--Riverdale, New...",17527,24508,29183,4731
1,"NYC-Bronx Community District 12--Wakefield, Ne...",11414,33416,31137,2997
2,"NYC-Bronx Community District 10--Co-op City, N...",12064,34986,31932,3679
3,NYC-Bronx Community District 11--Pelham Parkwa...,11749,33173,30861,3864
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",16292,41264,34030,4785

# 5. Inform your results by linking datasets

 Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc. https://docs.python.org/2/library/re.html

In [80]:
#reset index of rank_complaints
rank_complaints = rank_complaints.reset_index()

In [81]:
rank_complaints["Community Board"].value_counts()

15 BROOKLYN         1
04 BRONX            1
02 STATEN ISLAND    1
04 MANHATTAN        1
08 MANHATTAN        1
11 MANHATTAN        1
07 MANHATTAN        1
14 QUEENS           1
12 QUEENS           1
02 QUEENS           1
07 BROOKLYN         1
13 QUEENS           1
05 QUEENS           1
07 BRONX            1
03 BRONX            1
12 BRONX            1
01 STATEN ISLAND    1
05 BROOKLYN         1
13 BROOKLYN         1
10 BROOKLYN         1
02 BRONX            1
17 BROOKLYN         1
04 QUEENS           1
10 MANHATTAN        1
08 QUEENS           1
01 BROOKLYN         1
03 QUEENS           1
11 BROOKLYN         1
06 BRONX            1
08 BROOKLYN         1
06 MANHATTAN        1
16 BROOKLYN         1
08 BRONX            1
09 MANHATTAN        1
05 BRONX            1
09 QUEENS           1
01 BRONX            1
09 BROOKLYN         1
02 MANHATTAN        1
07 QUEENS           1
01 QUEENS           1
11 QUEENS           1
18 BROOKLYN         1
10 BRONX            1
03 BROOKLYN         1
09 BRONX            1
11 BRONX            1
04 BROOKLYN         1
14 BROOKLYN         1
03 MANHATTAN        1
06 QUEENS           1
10 QUEENS           1
12 BROOKLYN         1
05 MANHATTAN        1
02 BROOKLYN         1
01 MANHATTAN        1
06 BROOKLYN         1
03 STATEN ISLAND    1
12 MANHATTAN        1
Name: Community Board, dtype: int64

In [82]:
# Harmonize identifier of dataframe 1
rank_complaints["Community Board"] = rank_complaints["Community Board"].str.replace("MA+.*", "MN")
rank_complaints["Community Board"] = rank_complaints["Community Board"].str.replace("ST+.*", "SI")
rank_complaints["Community Board"] = rank_complaints["Community Board"].str.replace("BROO+.*", "BK")
rank_complaints["Community Board"] = rank_complaints["Community Board"].str.replace("QU+.*", "QN")
rank_complaints["Community Board"] = rank_complaints["Community Board"].str.replace("BRON+.*", "BX")

In [83]:
rank_complaints["cd_id"] = rank_complaints["Community Board"].str.extract('([A-Z]{2,})', expand=True)\
                         + rank_complaints["Community Board"].str.extract('([0-9]\d{0,})', expand=True)

In [84]:
rank_complaints

   Community Board  Number of Complaints cd_id
0            01 BX                 74631  BX01
1            01 BK                185057  BK01
2            01 MN                 77974  MN01
3            01 QN                171484  QN01
4            01 SI                182713  SI01
5            02 BX                 60257  BX02
6            02 BK                121022  BK02
7            02 MN                133860  MN02
8            02 QN                114333  QN02
9            02 SI                121132  SI02
10           03 BX                 75134  BX03
11           03 BK                197306  BK03
12           03 MN                150296  MN03
13           03 QN                122009  QN03
14           03 SI                136487  SI03
15           04 BX                181953  BX04
16           04 BK                139706  BK04
17           04 MN                132660  MN04
18           04 QN                 99316  QN04
19           05 BX                161078  BX05
20           05 BK                189765  BK05
21           05 MN                142028  MN05
22           05 QN                168570  QN05
23           06 BX                 99547  BX06
24           06 BK                114029  BK06
25           06 MN                104249  MN06
26           06 QN                 90938  QN06
27           07 BX                185729  BX07
28           07 BK                107031  BK07
29           07 MN                151419  MN07
30           07 QN                195961  QN07
31           08 BX                 92733  BX08
32           08 BK                141119  BK08
33           08 MN                149076  MN08
34           08 QN                123131  QN08
35           09 BX                147457  BX09
36           09 BK                135833  BK09
37           09 MN                127565  MN09
38           09 QN                151242  QN09
39           10 BX                 95496  BX10
40           10 BK                111837  BK10
41           10 MN                137344  MN10
42           10 QN                128116  QN10
43           11 BX                122081  BX11
44           11 BK                139890  BK11
45           11 MN                 95413  MN11
46           11 QN                101908  QN11
47           12 BX                168455  BX12
48           12 BK                150320  BK12
49           12 MN                268053  MN12
50           12 QN                229383  QN12
51           13 BK                 72362  BK13
52           13 QN                163851  QN13
53           14 BK                187794  BK14
54           14 QN                103396  QN14
55           15 BK                146129  BK15
56           16 BK                 85467  BK16
57           17 BK                191720  BK17
58           18 BK                156100  BK18

In [85]:
# Harmonize identifier of dataframe 2
df_infr["Qualifying Name"].value_counts()

NYC-Bronx Community District 3 & 6--Belmont, New York                                       2
NYC-Manhattan Community District 4 & 5--Chelsea, New York                                   2
NYC-Bronx Community District 1 & 2--Hunts Point, New York                                   2
NYC-Manhattan Community District 1 & 2--Battery Park City, New York                         2
NYC-Bronx Community District 9--Castle Hill, New York                                       1
NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York                 1
NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York    1
NYC-Queens Community District 12--Jamaica, New York                                         1
NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York                     1
NYC-Brooklyn Community District 4--Bushwick PUMA, New York                                  1
NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York                 1
NYC-Manhattan Community District 8--Upper East Side PUMA, New York                          1
NYC-Bronx Community District 5--Morris Heights, New York                                    1
NYC-Manhattan Community District 12--Washington Heights, New York                           1
NYC-Brooklyn Community District 15--Sheepshead Bay, New York                                1
NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York                       1
NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York                        1
NYC-Queens Community District 13--Queens Village, New York                                  1
NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York            1
NYC-Brooklyn Community District 6--Park Slope, New York                                     1
NYC-Staten Island Community District 1--Port Richmond, New York                             1
NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York                   1
NYC-Brooklyn Community District 12--Borough Park, New York                                  1
NYC-Queens Community District 7--Flushing, New York                                         1
NYC-Bronx Community District 7--Bedford Park, New York                                      1
NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York                  1
NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York             1
NYC-Manhattan Community District 10--Central Harlem PUMA, New York                          1
NYC-Manhattan Community District 6--Murray Hill, New York                                   1
NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York                     1
NYC-Bronx Community District 12--Wakefield, New York                                        1
NYC-Bronx Community District 11--Pelham Parkway, New York                                   1
NYC-Brooklyn Community District 17--East Flatbush, New York                                 1
NYC-Queens Community District 8--Briarwood, New York                                        1
NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York             1
NYC-Queens Community District 11--Bayside, New York                                         1
NYC-Staten Island Community District 3--Tottenville, New York                               1
NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York                        1
NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York                    1
NYC-Bronx Community District 8--Riverdale, New York                                         1
NYC-Queens Community District 14--Far Rockaway, New York                                    1
NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York              1
NYC-Bronx Community District 10--Co-op City, New York                                       1
NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York                1
NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York                  1
NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York                 1
NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York              1
NYC-Brooklyn Community District 9--Crown Heights South, New York                            1
NYC-Manhattan Community District 11--East Harlem PUMA, New York                             1
NYC-Bronx Community District 4--Concourse, New York                                         1
NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York        1
NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York              1
NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York            1
NYC-Manhattan Community District 9--Hamilton Heights, New York                              1
NYC-Queens Community District 5--Ridgewood, New York                                        1
Name: Qualifying Name, dtype: int64

In [86]:
df_pop.replace('MN11111', 'MN11', inplace=True)
df_pop['cd_id'].unique()
print(len(df_pop["cd_id"]))

59

In [87]:
# Harmonize identifier of dataframe 3
cdid = []
for i in df_infr["Qualifying Name"]:
    cur = i.split(' ') 
    res = [];
    if cur[0] == 'NYC-Manhattan':
        res.append("MN")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Brooklyn':
        res.append("BK")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Bronx':
        res.append("BX")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Staten':
        res.append("SI")
        num = cur[4].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Queens':
        res.append("QN")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    cdid.append(''.join(res))
print (cdid)

['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX03', 'BX07', 'BX05', 'BX04', 'BX09', 'BX01', 'BX01', 'MN12', 'MN09', 'MN10', 'MN11', 'MN08', 'MN07', 'MN04', 'MN04', 'MN06', 'MN03', 'MN01', 'MN01', 'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07', 'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14']

In [88]:
print(len(cdid))
cdid = list(set(cdid))
print(len(cdid))

59
55

In [89]:
#real cdid should be
cdid = ['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05', 'BX04', 'BX09', 'BX01', 'BX02',
       'MA12', 'MA09', 'MA10', 'MA11', 'MA08', 'MA07', 'MA04', 'MA05', 'MA06', 'MA03', 'MA01', 'MA02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18',
       'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14']

In [90]:
df_infr["cd_id"] = cdid

In [91]:
# Link the 3 dataframes
combine = pd.merge(df_infr, rank_complaints, on = "cd_id",how ="inner")
combine = pd.merge(combine, df_pop, on = "cd_id" )
combine

,Qualifying Name,household_mobile,household_notmobile,household_highinternet,household_lowinternet,cd_id,Community Board,Number of Complaints,Total Population,higher_household,Median household income (In 2014 Inflation Adjusted Dollars)
0,"NYC-Bronx Community District 8--Riverdale, New...",17527,24508,29183,4731,BX08,08 BX,92733,106737,6000,54224
1,"NYC-Bronx Community District 12--Wakefield, Ne...",11414,33416,31137,2997,BX12,12 BX,168455,134644,4761,44906
2,"NYC-Bronx Community District 10--Co-op City, N...",12064,34986,31932,3679,BX10,10 BX,95496,121209,6857,54962
3,NYC-Bronx Community District 11--Pelham Parkwa...,11749,33173,30861,3864,BX11,11 BX,122081,135839,5163,47910
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",16292,41264,34030,4785,BX03,03 BX,75134,172247,1428,22041
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",16292,41264,34030,4785,BX06,06 BX,99547,172247,1428,22041
6,"NYC-Bronx Community District 7--Bedford Park, ...",16709,30543,29844,6279,BX07,07 BX,185729,135893,1412,35495
7,NYC-Bronx Community District 5--Morris Heights...,15857,28842,25216,4096,BX05,05 BX,161078,132850,854,20872
8,"NYC-Bronx Community District 4--Concourse, New...",18342,29593,26686,6391,BX04,04 BX,181953,141467,1375,27203
9,"NYC-Bronx Community District 9--Castle Hill, N...",12892,51119,44133,3714,BX09,09 BX,147457,190126,4427,36058
10,NYC-Bronx Community District 1 & 2--Hunts Poin...,15981,36210,31711,3414,BX01,01 BX,74631,167147,1392,21116
11,NYC-Bronx Community District 1 & 2--Hunts Poin...,15981,36210,31711,3414,BX02,02 BX,60257,167147,1392,21116
12,NYC-Staten Island Community District 3--Totten...,14334,43324,48500,2539,SI03,03 SI,136487,170741,15890,82718
13,NYC-Staten Island Community District 2--New Sp...,11206,34060,34014,2203,SI02,02 SI,121132,126200,9918,71459
14,NYC-Staten Island Community District 1--Port R...,11151,50896,46304,2222,SI01,01 SI,182713,176338,11747,57602
15,NYC-Brooklyn Community District 1--Greenpoint ...,21459,41531,44621,4843,BK01,01 BK,185057,154713,12984,57818
16,NYC-Brooklyn Community District 4--Bushwick PU...,14171,33409,28064,7152,BK04,04 BK,139706,137368,3860,40484
17,NYC-Brooklyn Community District 3--Bedford-Stu...,12648,38040,29116,6005,BK03,03 BK,197306,133235,4632,34678
18,NYC-Brooklyn Community District 2--Brooklyn He...,18679,38509,44284,4124,BK02,02 BK,121022,139070,17861,84568
19,"NYC-Brooklyn Community District 6--Park Slope,...",23815,25894,43121,2363,BK06,06 BK,114029,125062,22585,113045
20,NYC-Brooklyn Community District 8--Crown Heigh...,10559,39707,34262,2663,BK08,08 BK,141119,126747,6341,44904
21,NYC-Brooklyn Community District 16--Brownsvill...,5927,38342,24666,2758,BK16,16 BK,85467,123772,1718,25259
22,NYC-Brooklyn Community District 5--East New Yo...,9572,45564,35899,3362,BK05,05 BK,189765,155863,3057,32996
23,NYC-Brooklyn Community District 18--Canarsie &...,19215,50765,53091,3813,BK18,18 BK,156100,210957,12690,62090
24,NYC-Brooklyn Community District 17--East Flatb...,13596,37115,34523,2336,BK17,17 BK,191720,137526,5766,42349
25,NYC-Brooklyn Community District 9--Crown Heigh...,8591,32690,28039,1880,BK09,09 BK,135833,109337,2542,41814
26,NYC-Brooklyn Community District 7--Sunset Park...,12123,33725,34227,2643,BK07,07 BK,107031,152685,5641,48051
27,NYC-Brooklyn Community District 10--Bay Ridge ...,19341,29250,37006,2715,BK10,10 BK,111837,128545,9521,56696
28,NYC-Brooklyn Community District 12--Borough Pa...,11935,34127,25665,4861,BK12,12 BK,150320,170011,6009,43222
29,NYC-Brooklyn Community District 14--Flatbush &...,16540,44634,43202,4053,BK14,14 BK,187794,180723,7144,50316
30,NYC-Brooklyn Community District 15--Sheepshead...,13969,39670,39015,3159,BK15,15 BK,146129,137815,7914,52717
31,NYC-Brooklyn Community District 11--Bensonhurs...,17710,44510,45080,3552,BK11,11 BK,139890,187637,7444,47748
32,NYC-Brooklyn Community District 13--Brighton B...,7779,37291,27667,1851,BK13,13 BK,72362,110727,4330,29578
33,NYC-Queens Community District 1--Astoria & Lon...,31144,44614,60125,3551,QN01,01 QN,171484,182860,11163,56269
34,NYC-Queens Community District 3--Jackson Heigh...,9750,46396,39286,2805,QN03,03 QN,122009,182354,6175,49610
35,"NYC-Queens Community District 7--Flushing, New...",23421,65785,66855,2837,QN07,07 QN,195961,256742,13894,52105
36,"NYC-Queens Community District 11--Bayside, New...",16201,27078,36643,1339,QN11,11 QN,101908,120996,10206,80866
37,NYC-Queens Community District 13--Queens Villa...,13931,46022,47111,4807,QN13,13 QN,163851,193102,13685,75732
38,"NYC-Queens Community District 8--Briarwood, Ne...",15239,39390,42641,2507,QN08,08 QN,123131,159330,9084,55324
39,NYC-Queens Community District 4--Elmhurst & So...,8440,37476,32202,2207,QN04,04 QN,99316,154740,4528,45264
40,NYC-Queens Community District 6--Forest Hills ...,13715,37181,39984,3109,QN06,06 QN,90938,107893,10694,61290
41,NYC-Queens Community District 2--Sunnyside & W...,14616,38025,43179,2592,QN02,02 QN,114333,150100,8400,57265
42,"NYC-Queens Community District 5--Ridgewood, Ne...",9845,50499,47314,2012,QN05,05 QN,168570,168488,9843,63660
43,NYC-Queens Community District 9--Richmond Hill...,11481,33490,34519,2750,QN09,09 QN,151242,151202,6309,61275
44,"NYC-Queens Community District 12--Jamaica, New...",15241,59607,47241,8144,QN12,12 QN,229383,251002,11287,52537
45,NYC-Queens Community District 10--Howard Beach...,10916,27125,28640,2871,QN10,10 QN,128116,134827,7417,60946
46,NYC-Queens Community District 14--Far Rockaway...,6905,32452,27962,2533,QN14,14 QN,103396,107944,4645,44239

### Are the demographics and infrastructure different in Community Districts that show more complaints than others?
Yes, the demographics and infrastructure different in Community Districts show more complaints than others.
For example,compare BX08 to BX12:BX12 has more population but less household mobiles, but it has more number of complaints than that of BX08.